*.mp4
*.deb
*.mp4
*.pth
*.gif
*.png
.DS_Store
*.pdf
*.out
*.json
*.csv

telegram.yaml

.vscode/
**/.ipynb_checkpoints/
**/.pytest_cache/

# dlprof
*.sqlite
*.qdrep
*.stacks
*.trace
trace.json

**/.Trash-0/
cache/
data/
ssd/
**/__pycache__/
**/lightning_logs/
runs/
logs/
checkpoints/

*.o
*.so
.cache/
*.bin
.clangd/

*.nsys-rep
*.whl
*.ncu-rep
*.txt
!requirements.txt

wandb/
!/docker/wandb/
/*.ipynb
/visualize/
